.tags-container {
  display: flex;
  justify-content: center;
  background-color: #FF6060;
  border-radius: 8px;
  padding: 3px 20px;
}

.tags-content {
  margin: 0;
  color: white;
  font-size: 14px;
}




@media screen and (max-width: 767px) {
  .tags-container {
    padding: 3px 15px;
  }
  .tags-content {
    font-size: 12px;
  }
}