.accordion-container {
  display: flex;
  flex-direction: column;
  background: #eee;
  max-width: 1200px;
}

.accordion-container.collapse>.accordion-content {
  display: none;
}

.accordion-header {
  display: flex;
  align-items: center;
  padding: 10px 18px;
  background-color: #FF6060;
  border-radius: 5px;
}

.accordion-header>p {
  flex: 1;
  margin: 0;
  color: white;
}

.accordion-header>button {
  background-color: transparent;
  border: none;
  height: 20px;
  cursor: pointer;
}


.accordion-title {
  font-size: 24px;
}

.accordion-content {
  font-size: 20px;
  line-height: 25px;
  padding: 25px 40px 10px 18px;
  color: #FF6060;
}
