.accordion-container {
  display: flex;
  flex-direction: column;
  /* max-width: 1200px; */
  flex: 1;
}

.accordion-container.collapse>.accordion-content {
  display: none;
}

.accordion-header {
  display: flex;
  align-items: center;
  padding: 10px 18px;
  background-color: #FF6060;
  border-radius: 5px;
  cursor: pointer;
}

.accordion-header>p {
  flex: 1;
  margin: 0;
  color: white;
}

.accordion-header>button {
  background-color: transparent;
  border: none;
  
}

.accordion-header>button>.fa-chevron-down {
  font-size: 20px;
}


.accordion-title {
  font-size: 24px;
}

.accordion-content {
  background: #eee;
  font-size: 20px;
  line-height: 25px;
  padding: 25px 40px 27px 18px;
  color: #FF6060;
  margin-bottom: 45px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}











@media screen and (min-width: 768px) and (max-width: 1024px) {
  .accordion-title {
    font-size: 16px;
  }
  .accordion-content {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .accordion-title {
    font-size: 16px;
  }
  .accordion-content {
    font-size: 16px;
  }
}