.profile-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  text-align: right;
  gap: 10px;
}

.profile-name {
  font-size: 18px;
  font-weight: 700;
  color: #FF6060;
}

.profile-picture>img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}


@media screen and (min-width: 768px) and (max-width: 1024px)  {
  .profile-picture>img {
    width: 55px;
    height: 55px;
  }
  .profile-name {
    font-size: 15px;
  }
}



@media screen and (max-width: 767px) {
  .profile-picture>img {
    width: 50px;
    height: 50px;
  }
  .profile-name {
    font-size: 15px;
  }
}