.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Nf-error,
.Nf-text,
.Nf-goback {
  color: #F76060;
}

.Nf-error {
  display: flex;
  justify-content: center;
  font-size: 280px;
  font-weight: 700;
  margin: 25px 0 0 0;
}

.Nf-text {
  display: flex;
  justify-content: center;
  font-size: 35px;
  margin-bottom: 90px;
  font-weight: 400;
}

.Nf-goback {
  display: block;
  justify-content: center;
  font-size: 18px;
}



@media screen and (max-width: 767px) {
  .Nf-error {
    font-size: 96px;
  }

  .Nf-text {
    font-size: 18px;
    text-align: center;
    padding: 0 20px;
  }

  .Nf-goback {
    font-size: 14px;
  }
}