.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation>img {
  height: 68px;
  width: 200px;
  cursor: pointer;
}


.navigation ul {
  display: flex;
  justify-content: flex-end;
  gap: 45px;
  list-style: none;
  font-size: 22px;
}

.navigation a {
  color: #FF6060;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}



.navigation a:not(.logo):active,
.navigation a:not(.logo):hover {
  border-bottom: 2px solid #FF6060;
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
  .navigation {
    padding: 10px 20px 0 20px;
  }
}


@media screen and (max-width:767px) {
  .navigation {
    display: flex;
    flex-direction: row;
    padding: 10px 20px 0 20px;
  }

  .navigation>a>img {
    width: 145px;
    height: 47px;
  }

  .navigation>ul {
    font-size: 12px;
    text-transform: uppercase;
    gap: 20px;
  }
}