.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation>img {
  height: 68px;
  width: 200px;
}


.navigation ul {
  display: flex;
  justify-content: flex-end;
  gap: 45px;
  list-style: none;
  font-size: 22px;
}

.navigation a {
  color: #FF6060;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}



.navigation a:active,
.navigation a:hover {
  border-bottom: 2px solid #FF6060;
}