html,
body,
#root {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}


.container {
  padding: 25px 0 0 0;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.container>main {
  min-height: 75vh;
}







@media screen and (min-width: 768px) and (max-width: 1024px) {
.container {
 padding: 0;
}
.container > main {
  padding: 0 20px;
}
}



@media screen and (max-width: 767px) {
  .container {
    padding: 0;
  }
  .container > main {
    padding: 0 20px;
  }
}

