.carousel-container {
  height: 415px;
  width: 100%;
  margin-top: 20px;
  border-radius: 25px;
  background-size: cover;
  background-position: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.arrows-buttons>img {
  font-size: 70px;
  cursor: pointer;
  color: white;
}

.arrows-buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  flex: 1;
}



.image-counter {
  display: flex;
  color: #fff;
  justify-content: center;
}



@media screen and (min-width: 768px) and (max-width: 1024px) {
  .carousel-container {
    width: 100%;
    height: 330px;
  }

  .carousel-container>img {
    border-radius: 10px;
  }
}





@media screen and (max-width: 767px) {
  .carousel-container {
    width: 100%;
    height: 255px;
  }

  .carousel-container>img {
    border-radius: 10px;
  }

  .arrows-buttons {
    display: flex;
    justify-content: space-between;
  }

  .arrows-buttons>img {
    width: 20px;
  }

  .image-counter {
    display: none;
  }
}