.carousel-container {
  height: 415px;
  width: 1240px;
}

.carousel-container > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}


button {
  padding: 15px;
  cursor: pointer;
  position: relative;
  top: -25px;
}