.about-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.about-banner>img {
  object-fit: cover;
  width: 100%;
  height: 220px;
  border-radius: 20px;
}

.about-content {
  display: flex;
  flex-direction: column;
  padding: 25px 100px;
  gap: 15px;
}