.main-title, .sub-title-location {
  color: #FF6060;
  margin: 0;
}

.main-title {
  margin-top: 30px;
}

.sub-title-location {
  margin: 5px 0 15px 0;
}

.accordion-position {
  display: flex;
  gap: 70px;
}

.tags-section {
  display: flex;
  gap: 10px;
  margin-bottom: 35px;
  padding-top: 15px;
}

.review-section {
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
}


/* .hoster-name {
  font-size: 30px;
  color: black;
} */


.info-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}




